
#history{
    border: solid 2px;
    border-color: deepskyblue;
    background-color: lightcyan;
    height: 953px;
}


#history caption{
    text-align: left;
}

#history td{
    text-align: center;
    border-color: aqua;
    font-size: 30px;
}

#history .cap{
    font-weight :bold
}


#history button{
    text-align: right;
    height: 100px;
    width: 357px;
    font-size: 30px;
    margin: 10px 0;
    border: none;
    background-color: transparent;

}

#history #memory{
    text-align: center;
    font-size: 50px;
    height: 50px;
}

#history .memoryAniSet{
    transform:translateX(-40px);
    animation: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#history .memoryAniPlus{
    transform:translateY(-20px);
    animation: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#history .memoryAniMinus{
    transform:translateY(+20px);
    animation: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes flash{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

#history .warp{
    transform: translateY(-100px);
}

#history .move{
    animation: add;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

@keyframes add{
    50%{
        transform: translateY(-10px);
    }
    to{
        transform: none;
    }
}

#history .disappear{
    opacity: 0;
    transform: translateX(-40px);
}

#history .appear{
    animation: visible;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
@keyframes visible{
    to{
        opacity: 1;
        transform: none;
    }
}