:root{
    --form-height:50px;
    --form-width:50px;
}

th,td {
    width: 52px;
    height: 52px;
    text-align: center;
}

table {
    border-spacing: 10px;
    border: solid 1px;
    background-color: aqua       ;
}

input{
    height: var(--form-height);
    text-align: right;
}

#input{
    width: 238px;
    height: 25px;
    font-size: 20px;
    background-color: darkcyan;
    color: powderblue;
}
td:has(>#input){
    height: 27px;
}

#td_result{
    border: solid 1px;;
    border-color: deepskyblue;
    background-color: white;
    text-align: right;
    overflow: hidden;
}

#result{
    font-size: 30px;
    display:inline-block;
}

button {
    width: var(--form-width);
    height: var(--form-height);
    font-size: 30px;
    background-color: deepskyblue;
    color: blue;
    border-color: deepskyblue;
}

button:disabled{
    background-color: steelblue;
    color: blue;
    border-color: steelblue;

}

#button_plus{
    height: 114px;;
}

.ani{
    animation: appear 0.1s linear forwards;
    transform: translateY(-25px);
}

@keyframes appear{
    100%{
        transform: translateY(0px);
    }
}