:root{
    --form-height:100px;
    --form-width:100px;
}

th,td {
    width: 104px;
    height: 104px;
    text-align: center;
}

table {
    border-spacing: 20px;
    border: solid 10px;
    border-color: aqua;
    background-color: aquamarine;       ;
}

input{
    height: var(--form-height);
    text-align: right;
}

#input{
    width: 476px;
    height: 50px;
    font-size: 40px;
    background-color: darkcyan;
    color: powderblue;
}

#manual{
    width: 430px;
    height: 50px;
    font-size: 40px;

}

#button_manual{
    height: 50px;
    font-size: 30px;
}

td:has(>#input){
    height: 54px;
}

#td_result{
    border: solid 2px;;
    border-color: deepskyblue;
    background-color: white;
    text-align: right;
    overflow: hidden;
}

#result{
    font-size: 60px;
    display:inline-block;
}

button {
    width: var(--form-width);
    height: var(--form-height);
    font-size: 60px;
    background-color: deepskyblue;
    color: blue;
    border-color: deepskyblue;
}

button:disabled{
    background-color: steelblue;
    color: blue;
    border-color: steelblue;

}

.operator_selected{
    background-color: aquamarine;
    border-color: aquamarine;
}

#tr_back,#tr_back >td{
    height: 54px;
}

#button_back{
    height: 50px;
    font-size: 30px;
}

#button_plus{
    height: 228px;;
}

.ani{
    animation: appear 0.1s linear forwards;
    transform: translateY(-50px);
}

@keyframes appear{
    100%{
        transform: translateY(0px);
    }
}